footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  color: #212529;
  height: 70px;
  width: 100%;
  font-size: 14px;
  border-top: 1px solid #e9ecef;
}

footer div{
  margin: 8px;
}